/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-off-white: #c6dfff;

  --vt-c-dark: #2d3035;
  --vt-c-dark-soft: #464952;
  --vt-c-dark-dark: #222427;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-azure: azure;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-azure);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --open-uml-selection-dark-1 :  #222427;
  --open-uml-selection-dark-2 : #292c30;

  --uml-cafe-manilla:#f0edd3;

  --uml-cafe-selected: #2350d9;
  --uml-cafe-selected-hover: #809bed;
  --uml-cafe-selected-error: #d10000;
  --uml-cafe-blue-user: #2350d9;
  --uml-cafe-blue-user-light: #809bed;
  --uml-cafe-blue-user-highlight: #bcc9f1;
  --uml-cafe-red-user : #f73725;
  --uml-cafe-red-user-light: #fa6c5f;
  --uml-cafe-red-user-highlight: #f0afa9;
  --uml-cafe-green-user: #32c757;
  --uml-cafe-green-user-light: #91eba8;
  --uml-cafe-green-user-highlight: #bdf5cb;
  --uml-cafe-yellow-user: #dbd80d;
  --uml-cafe-yellow-user-light: #e6e345;
  --uml-cafe-yellow-user-highlight: #f0efa8;
  --uml-cafe-magenta-user: #f425f7;
  --uml-cafe-magenta-user-light: #fb7cfc;
  --uml-cafe-magenta-user-highlight: #ffc8ff;
  --uml-cafe-cyan-user: #02e8e5;
  --uml-cafe-cyan-user-light: #9bebe9;
  --uml-cafe-cyan-user-highlight: #c8f3f2;
  --uml-cafe-orange-user: #f59b0a;
  --uml-cafe-orange-user-light: #f5c069;
  --uml-cafe-orange-user-highlight: #f1d7ab;
  --uml-cafe-lime-user: #aff213;
  --uml-cafe-lime-user-light: #cee890;
  --uml-cafe-lime-user-highlight: #e6f7c0;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-dark);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
